<%- include('../includes/head.ejs') -%>
  <link rel="stylesheet" href="/css/product.css" />
</head>
<body>
  <%- include('../includes/navigation.ejs') -%>
  <main>
    <% if(items.length) { %>
      <ul>
        <% for(item of items) {%>
          <li>
            <p><%=item.title%> (<%=item.quantity%>)</p>
            <form action="/cart/remove-item" method="POST">
              <button class="btn" name="productId" value="<%=item.id%>">Remove</button>
            </form>
          </li>
        <%}%>
      </ul>
    <%} else {%>
      <h2>No products in the cart</h2>
    <%}%>
  </main>
  <%- include('../includes/end.ejs') -%>